# Disable startup screen
startup_message off

# allow scrolling back 10.000 lines
defscrollback 10000

# do not display hardstatus
hardstatus alwaysignore

# always show caption
caption always "%{rw} * %H * | $LOGNAME | %{bw}%c %D # | %{-}%-Lw%{rw}%50>%{rW}%n%f* %t %{-}%+Lw%<"

# enable visual bell
vbell on
vbell_msg "Peeeeep"

# Always set word wrap to on
defwrap on
